.titulo {
  font-weight: 800;
  color: var(--cor-azul);
}

.container{
  padding: 60px;
  transform: scale(0.9);
}

.btn-primary {
  background-color: var(--cor-azul);
  border-color: var(--cor-azul);
  padding: 10px 30px;
}

.btn-primary:hover {
  background-color: #1565c0;
  border-color: #1565c0;
}

.btn-primary:disabled {
  background-color: #cccccc;
  border-color: #cccccc;
  cursor: not-allowed;
}

.form-control {
  border-radius: 4px;
  border: 1px solid #ced4da;
  padding: 10px 15px;
}

.form-control:focus {
  border-color: var(--cor-azul);
  box-shadow: 0 0 0 0.25rem rgba(30, 136, 229, 0.25);
}