    <div class="text-center mb-5">
      <h1 class="display-4 fw-bold text-dark mb-3">Fale conosco</h1>
      <div class="divider mx-auto" style="height: 4px; width: 80px; background-color: var(--cor-azul);"></div>
    
    </div>
<div class="container mb-5 bg-light">
  <div class="row g-3">
    <div class="col-md-6 my-auto">
      <img
        src="/api/img/logo-carromais3.png"
        class="img-fluid rounded shadow-sm"
        alt="Logo CarroMais"
      />
    </div>
    <div class="col-md-6">
      <div class="border rounded shadow-sm p-4" style="background-color: #e4e4e4;">
        <form (ngSubmit)="enviarFormulario()" #contatoForm="ngForm" (change)="salvarDadosTemporarios()">
          <div class="mb-3">
            <input
              type="text"
              name="nome"
              placeholder="NOME*"
              class="form-control"
              [(ngModel)]="formData.nome"
              required
            />
          </div>
          <div class="mb-3">
            <input
              type="email"
              name="email"
              placeholder="E-MAIL*"
              class="form-control"
              [(ngModel)]="formData.email"
              required
              email
            />
          </div>
          <div class="mb-3">
            <input
              type="tel"
              name="telefone"
              placeholder="TELEFONE*"
              class="form-control"
              [(ngModel)]="formData.telefone"
              required
            />
          </div>
          <div class="mb-3">
            <textarea
              rows="5"
              name="mensagem"
              placeholder="MENSAGEM*"
              class="form-control"
              [(ngModel)]="formData.mensagem"
              required
            ></textarea>
          </div>
          <p class="text-muted small mb-3 ps-1 text-justify">
            Para proseguir você deve concordar com a nossa política de
            privacidade.
            <a routerLink="/privacidade">Acesse aqui</a>
          </p>
          <div class="text-center">
            <button
              type="submit"
              class="btn btn-primary"
              [disabled]="contatoForm.invalid || !termosAceitos"
            >
              Enviar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>