<footer class="h-auto" >

    <div class="titulo pt-4 px-5">
        <p class="brand-font">CarroMais</p>
    </div>

    <div class="wrapper d-flex flex-column flex-md-row text-white px-5 pt-2 pb-5 gap-5">
                <div class="w-75 ">
                    <h4 class="mb-4" >Onde estamos</h4>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3657.075426745291!2d-46.6933229246879!3d-23.5659713617543!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce57a7c7d6e733%3A0x9f7a8f6a6e0e4f1a!2sFord%20Motor%20Company!5e0!3m2!1sen!2sbr!4v1690833333333!5m2!1sen!2sbr" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>    

                <div class="socialMedia w-25 d-flex flex-column justify-content-center align-items-center">
                    <h5>Redes sociais</h5>
                    <div class="social-icons d-flex gap-5 mt-4">
                        <a href="https://www.facebook.com/" target="_blank"><i class=" fab fa-facebook-f"></i></a>
                        <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
                        <a href="https://www.linkedin.com/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                        <a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
                    </div>
                    <div class="termos mt-5">
                        <a routerLink="/privacidade">Termos e Condições</a>
                    </div>
                    <div class="copyright mt-5">
                        <h6 class="" >&copy; 2025 CarroMais  |  Todos os direitos reservados</h6>
                    </div>

                </div>
                </div>

</footer>
