<header class="d-flex align-items-center justify-content-between px-4 py-2">
  <div class="d-flex align-items-center">
    <img src="" alt="" class="me-2">
    <h1 class="brand-font m-0">CarroMais</h1>
  </div>
  <nav class="menu d-flex align-items-center">
    <ul class="menu-list d-flex list-unstyled m-0">
      <li><a class="menu-list-iten nav-link px-3 fs-5 hover:shadow-lg" routerLink="/home">Home</a></li>
      <li><a class="menu-list-iten nav-link px-3 fs-5 hover:shadow-lg" routerLink="/veiculos">Veículos</a></li>
      <li><a class="menu-list-iten nav-link px-3 fs-5 hover:shadow-lg" routerLink="/contato">Contato</a></li>
      <li><a class="menu-list-iten nav-link px-3 fs-5 hover:shadow-lg" routerLink="/sobre">Sobre nós</a></li>
    </ul>
    <div class="acesso">
      <button type="button" class="btn btn-outline-light ms-5"routerLink="/login">
        <i class="fas fa-user "></i>
      </button>
    </div>
  </nav>
</header>
