<nav class="sidebar d-flex flex-column flex-shrink-0 p-3 bg-white shadow">
  <img src="/api/img/logo-carromais3.png" alt="">
  <div class="text-center mb-4">
    <span class="fs-4 fw-bold text-primary"></span>
  </div>

  <ul class="nav nav-pills flex-column mb-auto">
    <li *ngFor="let item of menuItems" class="nav-item mb-2">
      <a 
        [routerLink]="item.path" 
        routerLinkActive="active"
        class="nav-link d-flex align-items-center"
      >
        <fa-icon [icon]="icons[item.icon]" class="me-3"></fa-icon>
        <span>{{item.label}}</span>
      </a>
    </li>
  </ul>

  <div class="mt-auto">
    <button 
      class="btn btn-link text-decoration-none d-flex align-items-center w-100 p-2"
      (click)="logout()"
    >
      <fa-icon [icon]="icons.logout" class="me-3"></fa-icon>
      <span>Sair</span>
    </button>
  </div>
</nav>